.intro__text-author {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  max-width: 722px;
  text-align: end;
  margin: 0%;
  position: relative;
  bottom: 35px;
  margin-bottom: 32px;
}
@media screen and (min-width: 315px) and (max-width: 544px) {
  .intro__text-author {
    bottom: 10px;
    max-width: 288px;
  }
} 