.header__logo {
    max-width: 270px;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 91px;
}
@media screen and (min-width: 315px) and (max-width: 544px) {
    .header__logo {
        max-width: 200px;
        margin-bottom: 50.15px;
      }
  }